In [351]:
import numpy as np
import pandas as pd

#### Load Dataframe

In [352]:
#load data in dataframe
loan_master = pd.read_csv('loan.csv',low_memory=False)

In [353]:
#check number of rows and columns
loan_master.shape

(39717, 111)

#### User Defined Functions

In [354]:
#function to check for nulls and only display the columns having nulls 
def check_null(dataframe, percentage=True):
    if percentage==True:
        return round(dataframe.isnull().mean()[dataframe.isnull().mean()>0].apply(lambda x: x*100),3)
    else:
        return dataframe.isnull().sum()[dataframe.isnull().sum()>0]

In [355]:
#function to drop columns based on NULLs percentage
def drop_columns_null_perc(dataframe, percentage):
    n_thresh = int(len(loan_master)*(1-(percentage/100)))
    dataframe.dropna(axis=1,thresh=n_thresh, inplace=True)

## Data Cleaning

#### Data Cleaning - Handle Nulls

In [356]:
#check columns having nulls
check_null(loan_master)

emp_title                       6.191
emp_length                      2.707
desc                           32.581
title                           0.028
mths_since_last_delinq         64.662
                               ...
tax_liens                       0.098
tot_hi_cred_lim               100.000
total_bal_ex_mort             100.000
total_bc_limit                100.000
total_il_high_credit_limit    100.000
Length: 68, dtype: float64

##### Drop columns having ALL nulls

In [357]:
loan_master.dropna(axis=1, how='all', inplace=True)
#check shape again
loan_master.shape
#54 such columns removed

(39717, 57)

In [358]:
check_null(loan_master)

emp_title                      6.191
emp_length                     2.707
desc                          32.581
title                          0.028
mths_since_last_delinq        64.662
mths_since_last_record        92.985
revol_util                     0.126
last_pymnt_d                   0.179
next_pymnt_d                  97.130
last_credit_pull_d             0.005
collections_12_mths_ex_med     0.141
chargeoff_within_12_mths       0.141
pub_rec_bankruptcies           1.755
tax_liens                      0.098
dtype: float64

##### Drop columns with >90% null rows
Columns: next_pymnt_d and mths_since_last_record

In [359]:
drop_columns_null_perc(loan_master, 90)

In [360]:
check_null(loan_master)

emp_title                      6.191
emp_length                     2.707
desc                          32.581
title                          0.028
mths_since_last_delinq        64.662
revol_util                     0.126
last_pymnt_d                   0.179
last_credit_pull_d             0.005
collections_12_mths_ex_med     0.141
chargeoff_within_12_mths       0.141
pub_rec_bankruptcies           1.755
tax_liens                      0.098
dtype: float64

##### Drop rows with <7% of nulls
For columns: 
emp_title, emp_length, title, revol_util, last_pymnt_d, last_credit_pull_d,
collections_12_mths_ex_med, chargeoff_within_12_mths, pub_rec_bankruptcies, tax_liens

In [299]:
#trying to find a way to do it without writing individual lines as in next cell
#int(len(loan_master)*0.07)
df = loan_master.dropna(thresh=5)
df.shape

(39717, 55)

In [139]:

loan_master = loan_master.loc[loan_master[''].notnull(),:]
loan_master = loan_master.loc[loan_master['emp_length'].notnull(),:]
loan_master = loan_master.loc[loan_master['title'].notnull(),:]
loan_master = loan_master.loc[loan_master[''].notnull(),:]revol_util
loan_master = loan_master.loc[loan_master[''].notnull(),:]last_pymnt_d
loan_master = loan_master.loc[loan_master['last_credit_pull_d'].notnull(),:]
loan_master = loan_master.loc[loan_master[''].notnull(),:]collections_12_mths_ex_med
loan_master = loan_master.loc[loan_master[''].notnull(),:]chargeoff_within_12_mths
loan_master = loan_master.loc[loan_master[''].notnull(),:]pub_rec_bankruptcies
loan_master = loan_master.loc[loan_master[''].notnull(),:]tax_liens

#### Data Cleaning - Drop irrelevant columns

In [42]:
#Drop desc column
loan_master.drop(['desc'],axis=1, inplace=True)

In [43]:
#Drop title column
#loan_master.drop(['title'],axis=1, inplace=True)
#chcek for analysis

In [44]:
#mths_since_last_delinq-remove?can use delinq 2 years instead?

In [45]:
#loan_master['next_pymnt_d'][~loan_master['next_pymnt_d'].isnull()].value_counts()
#keeping this column for now as those 1140 entries are for Current loan status
#removed!!! check later

In [46]:
#Drop zip code
loan_master.drop(['zip_code'],axis=1, inplace=True)

In [47]:
#Drop url as not needed for our analysis
#Loan id is a part of url, but is already available in id column
loan_master.drop(['url'],axis=1, inplace=True)

In [48]:
#check columns having nulls
check_null(loan_master)

emp_title                      3.7
title                          0.0
mths_since_last_delinq        64.6
revol_util                     0.1
last_pymnt_d                   0.2
collections_12_mths_ex_med     0.1
chargeoff_within_12_mths       0.1
pub_rec_bankruptcies           1.8
tax_liens                      0.1
dtype: float64

In [49]:
#check uniqueness of id and member id
print('unique id: ',loan_master['id'].nunique())
print('unique member id: ',loan_master['member_id'].nunique())
#both are unique

unique id:  38640
unique member id:  38640

#### Data Cleaning - Handle Data Types

In [82]:
#check for object dtypes 
loan_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38640 entries, 0 to 39716
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          38640 non-null  int64
 1   member_id                   38640 non-null  int64
 2   loan_amnt                   38640 non-null  int64
 3   funded_amnt                 38640 non-null  int64
 4   funded_amnt_inv             38640 non-null  float64
 5   term_months                 38640 non-null  int64
 6   int_rate                    38640 non-null  float64
 7   installment                 38640 non-null  float64
 8   grade                       38640 non-null  object
 9   sub_grade                   38640 non-null  object
 10  emp_title                   37202 non-null  object
 11  emp_length                  38640 non-null  object
 12  home_ownership              38640 non-null  object
 13  annual_inc                  38640 non-null  float64
 14  verification_status         38640 non-null  object
 15  issue_d                     38640 non-null  object
 16  loan_status                 38640 non-null  object
 17  pymnt_plan                  38640 non-null  object
 18  purpose                     38640 non-null  object
 19  title                       38630 non-null  object
 20  addr_state                  38640 non-null  object
 21  dti                         38640 non-null  float64
 22  delinq_2yrs                 38640 non-null  int64
 23  earliest_cr_line            38640 non-null  object
 24  inq_last_6mths              38640 non-null  int64
 25  mths_since_last_delinq      13689 non-null  float64
 26  open_acc                    38640 non-null  int64
 27  pub_rec                     38640 non-null  int64
 28  revol_bal                   38640 non-null  int64
 29  revol_util                  38593 non-null  object
 30  total_acc                   38640 non-null  int64
 31  initial_list_status         38640 non-null  object
 32  out_prncp                   38640 non-null  float64
 33  out_prncp_inv               38640 non-null  float64
 34  total_pymnt                 38640 non-null  float64
 35  total_pymnt_inv             38640 non-null  float64
 36  total_rec_prncp             38640 non-null  float64
 37  total_rec_int               38640 non-null  float64
 38  total_rec_late_fee          38640 non-null  float64
 39  recoveries                  38640 non-null  float64
 40  collection_recovery_fee     38640 non-null  float64
 41  last_pymnt_d                38574 non-null  object
 42  last_pymnt_amnt             38640 non-null  float64
 43  last_credit_pull_d          38640 non-null  object
 44  collections_12_mths_ex_med  38584 non-null  float64
 45  policy_code                 38640 non-null  int64
 46  application_type            38640 non-null  object
 47  acc_now_delinq              38640 non-null  int64
 48  chargeoff_within_12_mths    38584 non-null  float64
 49  delinq_amnt                 38640 non-null  int64
 50  pub_rec_bankruptcies        37944 non-null  float64
 51  tax_liens                   38601 non-null  float64
dtypes: float64(20), int64(14), object(18)
memory usage: 15.6+ MB

In [51]:
#fix data type for 'term' as int64
loan_master['term'] = loan_master['term'].apply(lambda x: str(x).replace('months','').strip()).astype('int64')
loan_master = loan_master.rename(columns={'term':'term_months'})

In [52]:
#fix data type for 'int_rate' as 'float64' 
loan_master['int_rate'] = loan_master['int_rate'].apply(lambda x: str(x).replace('%','').strip()).astype('float64')

In [53]:
#fix data type emp_length
loan_master['emp_length'].value_counts()

10+ years    8879
< 1 year     4582
2 years      4388
3 years      4095
4 years      3436
5 years      3281
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64

In [54]:
loan_master.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term_months,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36,10.65,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60,15.27,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36,15.96,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36,13.49,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60,12.69,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

### Analysis

In [79]:
#create separate data frames based on loan status
charged_off_loans = loan_master[loan_master['loan_status']=='Charged Off']
current_loans = loan_master[loan_master['loan_status']=='Current']
fully_paid_loans = loan_master[loan_master['loan_status']=='Fully Paid']

In [69]:
#avg open accounts
loan_custattr = pd.pivot_table(loan_master,index='loan_status',values='open_acc',aggfunc=np.median)
loan_custattr
#doesn't matter

             open_acc
loan_status
Charged Off         9
Current             9
Fully Paid          9

In [70]:
#avg total accounts
loan_custattr = pd.pivot_table(loan_master,index='loan_status',values='total_acc',aggfunc=np.median)
loan_custattr
#doesn't matter

             total_acc
loan_status
Charged Off         20
Current             22
Fully Paid          21

In [80]:
#verification status
charged_off_loans['verification_status'].value_counts()

Not Verified       2048
Verified           1954
Source Verified    1396
Name: verification_status, dtype: int64

In [81]:
#verification status
fully_paid_loans['verification_status'].value_counts()

Not Verified       14228
Verified            9818
Source Verified     8098
Name: verification_status, dtype: int64

In [25]:
#loan_master = loan_master.groupby(by='loan_status')
loan_master.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term_months,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36,10.65,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60,15.27,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36,15.96,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36,13.49,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60,12.69,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5,1075269,1311441,5000,5000,5000.0,36,7.90,156.46,A,A4,...,161.03,Jan-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
6,1069639,1304742,7000,7000,7000.0,60,15.96,170.08,C,C5,...,1313.76,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
8,1071795,1306957,5600,5600,5600.0,60,21.28,152.39,F,F2,...,152.39,Aug-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
9,1071570,1306721,5375,5375,5350.0,60,12.69,121.45,B,B5,...,121.45,Mar-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
12,1064687,1298717,9000,9000,9000.0,36,13.49,305.38,C,C1,...,305.38,Nov-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
14,1069057,1303503,10000,10000,10000.0,36,10.65,325.74,B,B2,...,325.74,Mar-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
32,1065420,1299514,10000,10000,9975.0,60,15.96,242.97,C,C5,...,242.97,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
39,1069346,1304237,12500,12500,12475.0,60,12.69,282.44,B,B5,...,282.44,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
86,1063958,1297940,14000,14000,13975.0,60,17.27,349.98,D,D3,...,349.98,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
95,1068575,1303001,15300,15300,15275.0,60,22.06,423.10,F,F4,...,423.10,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [26]:
loan_master['loan_status'].value_counts()

loan_status  loan_status
Charged Off  Charged Off     5398
Current      Current         1098
Fully Paid   Fully Paid     32144
Name: loan_status, dtype: int64

In [27]:
loan_master['funded_amnt'].count()

loan_status
Charged Off     5398
Current         1098
Fully Paid     32144
Name: funded_amnt, dtype: int64

In [28]:
#charged_off_loans = loan_master[loan_master['loan_status']=='Charged Off']

In [29]:
loan_master['loan_status'].value_counts()

loan_status  loan_status
Charged Off  Charged Off     5398
Current      Current         1098
Fully Paid   Fully Paid     32144
Name: loan_status, dtype: int64

#loan attributes 
funded amount inv
int rate
term
installment
grade
total pymt

#customer attributes
verification
annual income
emp length
purpose
addr state
total acc